<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.setradar"
    android:versionCode="2"
    android:versionName="2.0">

    <uses-sdk android:minSdkVersion="8"/>
    
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.READ_SMS"/>
    <uses-permission android:name="android.permission.READ_CALENDAR"/>

    <application
        android:name=".RadarApplication"
        android:icon="@drawable/ic_launcher"
        android:label="@string/application_name">
        <meta-data android:name="AA_DB_NAME" android:value="mosec.db"/>
        <meta-data android:name="AA_DB_VERSION" android:value="1"/>
        
        <activity
            android:name=".RadarActivity"
            android:noHistory="true"
            android:label="@string/application_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".WelcomeActivity"/>
        <activity android:name=".SignInActivity"/>
        <activity android:name="com.setradar.HomeActivity"/>
        
        <service
		    android:enabled="true"
		    android:name="com.setradar.SynchronizationService"/>
        
        <receiver android:name="com.setradar.BootCompletedReceiver">
        	<intent-filter>
            	<action android:name="android.intent.action.BOOT_COMPLETED"/>
        	</intent-filter>
        </receiver>
    </application>
</manifest>